.container {
  position: relative;
  z-index: 2;

  .header {
    width: 100%;
    height: 130px;
    position: absolute;
    top: auto;
    left: 0;
    border-top: solid 5px #E09F3E;
    background-color: #fff;
    box-shadow: 0.5px 1px 3px 0px rgba(0, 0, 0, 0.3);

    &__contents {
      width: 910px;
      margin: auto;
      @include between();
    }

  }


}
